@font-face {
  src: url("../fonts/Aller_Lt.ttf");
  font-family: "Aller";
  font-weight: 300;
}
@font-face {
  src: url("../fonts/Aller_Rg.ttf");
  font-family: "Aller";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Aller_Bd.ttf");
  font-family: "Aller";
  font-weight: 700;
}
/* line 21, ../sass/main.scss */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: "Aller", sans-serif;
}

/* line 29, ../sass/main.scss */
html, body {
  height: 100%;
  min-height: 100%;
  font-size: 19.20px;
  color: #1b1b21;
}

/* line 36, ../sass/main.scss */
body {
  position: relative;
  background: #f6f4f6;
}

/* line 41, ../sass/main.scss */
ul {
  list-style-type: none;
}

/* line 45, ../sass/main.scss */
header {
  padding: 25px 0;
}
/* line 48, ../sass/main.scss */
header h1, header h2 {
  color: #384255;
}
/* line 52, ../sass/main.scss */
header h3 {
  font-size: 1em !important;
  color: #768197;
  font-weight: 300;
}

/* line 59, ../sass/main.scss */
a, button, input, textarea {
  font-family: 'Aller', sans-serif;
}

/* line 63, ../sass/main.scss */
h1 {
  font-size: 1.5em;
  display: inline-block;
  padding: 0 25px;
}
@media screen and (min-width: 960px) {
  /* line 63, ../sass/main.scss */
  h1 {
    font-size: 1.75em;
  }
}

/* line 73, ../sass/main.scss */
h2 {
  font-size: 1.25em;
  color: #384255;
  font-weight: 400;
}

/* line 79, ../sass/main.scss */
p {
  line-height: 1.3;
  width: 100%;
  color: #384255;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: -1px;
}

/* Burger Menu */
/* line 90, ../sass/main.scss */
.burger {
  position: fixed;
  z-index: 999;
  top: 25px;
  left: 10px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 960px) {
  /* line 90, ../sass/main.scss */
  .burger {
    display: none;
  }
}
/* line 107, ../sass/main.scss */
.burger.active i {
  background: #f6f4f6;
}
/* line 110, ../sass/main.scss */
.burger.active i:before {
  background: #f6f4f6;
}
/* line 114, ../sass/main.scss */
.burger.active i:after {
  background: #f6f4f6;
}
/* line 120, ../sass/main.scss */
.burger i {
  width: 20px;
  height: 3px;
  background: #1b1b21;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 7.5px auto;
}
/* line 129, ../sass/main.scss */
.burger i:before {
  content: '';
  width: 20px;
  height: 3px;
  background: #1b1b21;
  margin-top: 6px;
  position: absolute;
}
/* line 138, ../sass/main.scss */
.burger i:after {
  content: '';
  width: 20px;
  height: 3px;
  background: #1b1b21;
  margin-top: 12px;
  position: absolute;
}

/* Navegacion Principal */
/* line 151, ../sass/main.scss */
#navegacion {
  position: fixed;
  width: 100%;
  height: 0;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(27, 27, 33, 0.8);
  overflow: hidden;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 10;
  /* ul navegacion principal */
  /* ul social media */
}
/* line 163, ../sass/main.scss */
#navegacion.open {
  height: 255px;
}
@media screen and (min-width: 1280px) {
  /* line 151, ../sass/main.scss */
  #navegacion {
    width: 100%;
    max-width: 1280px;
    position: absolute;
    background: transparent;
    height: auto;
  }
}
/* line 175, ../sass/main.scss */
#navegacion #menu-principal, #navegacion #socialmedia {
  position: relative;
  font-size: 0.95rem;
  width: auto;
  text-align: center;
}
@media screen and (min-width: 960px) {
  /* line 175, ../sass/main.scss */
  #navegacion #menu-principal, #navegacion #socialmedia {
    margin-top: 3rem;
    display: inline-block;
    float: right;
  }
}
/* line 190, ../sass/main.scss */
#navegacion #menu-principal {
  z-index: 10;
}
@media screen and (min-width: 960px) {
  /* line 193, ../sass/main.scss */
  #navegacion #menu-principal li {
    display: inline-block;
  }
}
/* line 199, ../sass/main.scss */
#navegacion #menu-principal li a {
  display: block;
  color: #f6f4ec;
  text-decoration: none;
  position: relative;
  padding: 0.75rem 0;
  /* Efecto del borde de abajo */
  /* Fin del efecto */
}
@media screen and (min-width: 960px) {
  /* line 199, ../sass/main.scss */
  #navegacion #menu-principal li a {
    padding: 0.3rem;
    margin: 0 1rem 0 0;
  }
}
/* line 213, ../sass/main.scss */
#navegacion #menu-principal li a::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  margin: 0 auto;
  border-top: 2px solid #f6f4ec;
}
@media screen and (min-width: 960px) {
  /* line 213, ../sass/main.scss */
  #navegacion #menu-principal li a::after {
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    width: 0;
    border-top: 0;
    border-bottom: 2px solid #f6f4ec;
  }
}
@media screen and (min-width: 960px) {
  /* line 234, ../sass/main.scss */
  #navegacion #menu-principal li a:hover::after {
    width: 100%;
  }
}
/* line 245, ../sass/main.scss */
#navegacion #socialmedia {
  padding-top: 15px;
  z-index: 999;
}
@media screen and (min-width: 960px) {
  /* line 245, ../sass/main.scss */
  #navegacion #socialmedia {
    padding-top: 0;
  }
}
/* line 253, ../sass/main.scss */
#navegacion #socialmedia li {
  margin: 0;
  display: inline-block;
}
/* line 257, ../sass/main.scss */
#navegacion #socialmedia li a {
  padding: 0;
  margin: 0;
}
/* line 261, ../sass/main.scss */
#navegacion #socialmedia li a::after {
  border: 0;
}

/* Estilos de la seccion de home */
/* line 271, ../sass/main.scss */
#home {
  height: 100%;
  min-height: 100%;
  position: relative;
  background: url("../img/fullscreen_harbor.jpg") center no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
@media screen and (min-width: 960px) {
  /* line 271, ../sass/main.scss */
  #home {
    background-size: cover;
  }
}

/* line 284, ../sass/main.scss */
#servicios, #sobre, #clientes, #portafolio, #contacto {
  text-align: center;
  position: relative;
}

/* Estilos de la seccion de sobre nosotros */
/* line 291, ../sass/main.scss */
#sobre {
  padding: 125px 0;
  background: #e6e6e6;
  z-index: 1;
  position: relative;
  height: auto;
}
/* line 298, ../sass/main.scss */
#sobre .contenido {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 304, ../sass/main.scss */
#sobre p {
  font-weight: 300;
  font-size: 1.4em;
  margin: 0 auto 40px auto;
  padding: 0 50px;
  line-height: 1.1;
}
@media screen and (min-width: 960px) {
  /* line 304, ../sass/main.scss */
  #sobre p {
    font-size: 1.8em;
    width: 960px;
  }
}
/* line 317, ../sass/main.scss */
#sobre a {
  padding: 15px 35px;
  margin-top: 1rem;
  color: #f6f4ec;
  text-decoration: none;
  background: rgba(0, 154, 185, 0.8);
  border: 0;
  border-radius: 50px;
  font-size: .8em;
}
/* line 327, ../sass/main.scss */
#sobre a:hover {
  background: rgba(0, 196, 236, 0.8);
}

/* Estilos de la seccion de servicios */
/* line 334, ../sass/main.scss */
#servicios {
  padding: 0 0 50px 0;
  z-index: 1;
}
/* line 338, ../sass/main.scss */
#servicios .listaservicios {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* Estilo de cada div en la seccion de servicios */
}
@media screen and (min-width: 1280px) {
  /* line 338, ../sass/main.scss */
  #servicios .listaservicios {
    width: 50%;
  }
}
/* line 349, ../sass/main.scss */
#servicios .listaservicios div {
  width: 90%;
  padding: 15px 0;
  margin: auto;
}
@media screen and (min-width: 960px) {
  /* line 349, ../sass/main.scss */
  #servicios .listaservicios div {
    width: 45%;
    float: left;
    margin: 0 1%;
  }
}
/* line 360, ../sass/main.scss */
#servicios .listaservicios div h2 {
  margin-top: 10px;
}
/* line 364, ../sass/main.scss */
#servicios .listaservicios div p {
  width: 80%;
  margin: 10px auto 0 auto;
}

/* Estilos de la seccion de clientes */
/* line 374, ../sass/main.scss */
#clientes {
  background: url("../img/panama.jpg") center;
  background-size: cover;
  z-index: 0;
  padding: 0;
}
/* line 380, ../sass/main.scss */
#clientes .clientesoverlay {
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 154, 185, 0.8);
  padding: 25px 0 0 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
/* line 392, ../sass/main.scss */
#clientes .clientesoverlay header h1 {
  color: #f6f4f6;
  z-index: 10;
  position: relative;
  text-align: center;
}
/* line 399, ../sass/main.scss */
#clientes .clientesoverlay header h3 {
  color: #f6f4f6;
}
/* line 406, ../sass/main.scss */
#clientes .clientesoverlay .carousel {
  width: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 650px) {
  /* line 406, ../sass/main.scss */
  #clientes .clientesoverlay .carousel {
    width: 600px;
    max-width: 1280px;
  }
}
/* line 417, ../sass/main.scss */
#clientes .clientesoverlay .carousel .panes {
  position: relative;
  width: 400%;
}
@media screen and (min-width: 650px) {
  /* line 417, ../sass/main.scss */
  #clientes .clientesoverlay .carousel .panes {
    width: 200%;
  }
}
/* line 426, ../sass/main.scss */
#clientes .clientesoverlay .carousel li {
  width: 12.5%;
  display: inline-block;
  float: left;
  position: relative;
  -moz-animation: carousel-small 20s infinite;
  -webkit-animation: carousel-small 20s infinite;
  animation: carousel-small 20s infinite;
}
@media screen and (min-width: 650px) {
  /* line 426, ../sass/main.scss */
  #clientes .clientesoverlay .carousel li {
    -moz-animation: carousel 20s infinite;
    -webkit-animation: carousel 20s infinite;
    animation: carousel 20s infinite;
  }
}
/* line 437, ../sass/main.scss */
#clientes .clientesoverlay .carousel img {
  width: 150px;
  margin: 0 auto 125px auto;
}

/* Estilo de la seccion de portafolio */
/* line 448, ../sass/main.scss */
#portafolio {
  padding: 25px 0 0 0;
  background: #e6e6e6;
}
/* line 452, ../sass/main.scss */
#portafolio .proyectos {
  width: 100%;
}
/* line 455, ../sass/main.scss */
#portafolio .proyectos .proyecto {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  /* line 455, ../sass/main.scss */
  #portafolio .proyectos .proyecto {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 960px) {
  /* line 455, ../sass/main.scss */
  #portafolio .proyectos .proyecto {
    width: 33.3333%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 455, ../sass/main.scss */
  #portafolio .proyectos .proyecto {
    width: 25%;
  }
}
/* line 473, ../sass/main.scss */
#portafolio .proyectos .proyecto img {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
/* line 479, ../sass/main.scss */
#portafolio .proyectos .proyecto img:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Estilos de la seccion de contacto */
/* line 489, ../sass/main.scss */
#contacto {
  padding: 25px 0 0 0;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  /* line 489, ../sass/main.scss */
  #contacto {
    padding-bottom: 50px;
    width: 100%;
    max-width: 1280px;
  }
}
/* line 499, ../sass/main.scss */
#contacto .infocontacto {
  width: 100%;
  margin-top: 25px;
}
@media screen and (min-width: 1280px) {
  /* line 499, ../sass/main.scss */
  #contacto .infocontacto {
    width: 50%;
    float: left;
  }
}
/* line 508, ../sass/main.scss */
#contacto .infocontacto h2 {
  margin-bottom: 50px;
}
/* line 514, ../sass/main.scss */
#contacto .infocontacto .info p {
  margin: 15px auto 50px auto;
}
/* line 520, ../sass/main.scss */
#contacto .formcontainer {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  /* line 520, ../sass/main.scss */
  #contacto .formcontainer {
    width: 50%;
    float: right;
    margin-bottom: 50px;
  }
}
/* line 529, ../sass/main.scss */
#contacto .formcontainer form {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
@media screen and (min-width: 960px) {
  /* line 529, ../sass/main.scss */
  #contacto .formcontainer form {
    width: 90%;
  }
}
/* line 539, ../sass/main.scss */
#contacto .formcontainer input, #contacto .formcontainer textarea {
  background: transparent;
  width: 100%;
  font-size: .9em;
  padding: .5em 1em;
  border: 3px solid darkgray;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  margin-top: 1em;
  color: #384255;
}
/* line 551, ../sass/main.scss */
#contacto .formcontainer input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1b1b21 inset;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
/* line 556, ../sass/main.scss */
#contacto .formcontainer textarea {
  height: 300px;
  resize: none;
}
/* line 561, ../sass/main.scss */
#contacto .formcontainer button {
  padding: 15px 35px;
  margin-top: 1rem;
  border: 0;
  font-size: .8em;
  cursor: pointer;
  background: rgba(0, 154, 185, 0.8);
  color: #f6f4ec;
  border-radius: 50px;
  margin-bottom: 75px;
}
@media screen and (min-width: 1280px) {
  /* line 561, ../sass/main.scss */
  #contacto .formcontainer button {
    margin-bottom: 0;
  }
}
/* line 576, ../sass/main.scss */
#contacto .formcontainer button:hover {
  background: rgba(0, 196, 236, 0.8);
}

/* line 583, ../sass/main.scss */
footer {
  padding: 75px 0;
  background: #1b1b21;
  text-align: center;
  /* ul social media footer */
}
/* line 588, ../sass/main.scss */
footer p {
  width: 80%;
  margin: 0 auto;
  color: #f6f4ec;
}
@media screen and (min-width: 960px) {
  /* line 588, ../sass/main.scss */
  footer p {
    width: 50%;
  }
}
/* line 597, ../sass/main.scss */
footer p a {
  color: #009ab9;
  text-decoration: none;
}
/* line 604, ../sass/main.scss */
footer #footersocialmedia {
  margin-top: 25px;
}
/* line 607, ../sass/main.scss */
footer #footersocialmedia li {
  margin: 0;
  display: inline-block;
}
/* line 611, ../sass/main.scss */
footer #footersocialmedia li a {
  padding: 0;
  margin: 0;
}
/* line 615, ../sass/main.scss */
footer #footersocialmedia li a::after {
  border: 0;
}
/* line 622, ../sass/main.scss */
footer .logo {
  width: 75px;
}

/* line 627, ../sass/main.scss */
#gotop {
  top: 10px;
  right: 10px;
  z-index: 100;
  position: fixed;
  text-align: center;
}
/* line 634, ../sass/main.scss */
#gotop a {
  padding: .5rem;
  display: block;
  color: #1b1b21;
}

/* Clearfix */
/* line 643, ../sass/main.scss */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@keyframes carousel {
  0% {
    left: 0;
  }
  15% {
    left: -12.5%;
  }
  30% {
    left: -25%;
  }
  45% {
    left: -37.5%;
  }
  60% {
    left: -50%;
  }
  75% {
    left: 0;
  }
}
@keyframes carousel-small {
  0% {
    left: 0;
  }
  15% {
    left: -12.5%;
  }
  30% {
    left: -25%;
  }
  45% {
    left: -37.5%;
  }
  60% {
    left: -50%;
  }
  75% {
    left: -62.5%;
  }
  90% {
    left: -75%;
  }
  100% {
    left: 0;
  }
}
